{% extends 'base.html' %}

{% block head %}
<style>
    #wrapper {
        margin-top: 2em;
    }

    #content {
    }

    #links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 3em;
    }

    .text {
        white-space: pre;
    }

    @media screen and (max-width: 1024px) {
        #links {
            font-size: 3em;
        }
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}
    {% set active_page = 'about' %}
    {% include 'header.html' %}
    <div id="wrapper">
        <div id="content">
            <h4>Hi, I'm Patrick.</h4>
            <div class="normal-text">
                <p>I study computer science in Germany and am soon finished with my bachelors.</p>
                <p>I like to code in Python, Haskell, Elixir, JS and a bunch more languages.</p>
                <p>Oh, and functional programming is kinda cool.</p>
                <p>I also like to write, fiction and nonfiction, mostly English, but sometimes also in my mother tongue German.</p>
                <p>
                    Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
                    from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
                </p>
                <p>You can also find me on here...</p>
                <div id="links">
                    <a href="https://github.com/ThisCakeIsALie"><i class="fa fa-github"></i></a>
                    <a href="https://www.youtube.com/channel/UC3nE49NndqykYtfPxpDQXXg"><i class="fa fa-youtube"></i></a>
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

- Iama cs student in germany.
- Kuchenbild
- Lebenslauf (später)
- links (github, youtube, linkedin (später))
- things I like:
- writing
- japanese (anime recommendations)
- coding duh
- truths i hold / quotes i like