{% extends 'list.html' %}
{% set active_page = 'blog' %}

{% block head %}
    {{ super() }}
    <style>
        .list-entry {
            margin-bottom: 2.5em;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .list-entry img {
            width: 60%;
        }

        @media screen and (max-width: 1024px) {
            .list-entry {
                margin-top: 2.5em;
                margin-bottom: 2.5em;
            }
        }
    </style>
{% endblock %}

{% block item %}
    <a class="list-entry" href="{{ url_for('article', name=item.path) }}">
        <img src="{{ url_for('image', name=item.title_image, preprocessor='bloomify') }}">
        <div>
            <p>{{ item.title | safe }}</p>
            <sub>{{ item.created }}</sub>
        </div>
    </a>
{% endblock %}