{% set active_page = 'projects' %}
{% extends 'list.html' %}

{% block head %}
    {{ super() }}
    <style>
        .list-entry {
            text-align: center;
            margin-bottom: 2.5em;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
        }

        .list-entry img {
            width: 60%;
            margin-top: auto;
            margin-bottom: auto;
        }

        .list-actions {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            text-decoration: underline;
        }

        .sub-description {
            display: block;
        }

        @media screen and (max-width: 1024px) {
            .list-entry {
                margin-top: 2.5em;
                margin-bottom: 2.5em;
            }
        }
    </style>
{% endblock %}

{% block item %}
    <div class="list-entry">
        <img src="{{ url_for('image', name=item.image, preprocessor='bloomify') }}">
        <div>
            <p>
                {{ item.name }}
                <sub class="sub-description">{{ item.description }}</sub>
            </p>
            <sub class="list-actions">
                {% for link_target in ["demo", "blog", "source"] %}
                    {% if item[link_target] is not none %}
                        <a href="{{ item[link_target] }}">{{ link_target.title() }}</a>
                    {% endif %}
                {% endfor %}
            </sub>
        </div>
    </div>
{% endblock %}